#five {
  .background {
    background: #333;
    min-height: 60vh;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.image {
    	background-size: cover;
    	text-align: left;
    	box-sizing: border-box;
      background-position: 50%;
      min-height: 80vh;

      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
  }

  h2 {
    color: #191516; //darken(white, 10%);
    font-size: 3.2em;
    margin-top: 0;
    font-family: "Playfair Display";
    font-weight: 900;
    display: inline-block;
  }

  p {
    color: lighten(#191516, 5%);//darken(white, 20%);
    font-size: 1.5rem;
    line-height: 1.5em;
  }
}
